{
    "version": 1,
    "key": "core.config",
    "data": {
        "latitude": 28.71361710561128,
        "longitude": 77.13772633585906,
        "elevation": 0,
        "unit_system": "metric",
        "location_name": "Home",
        "time_zone": "Asia/Kolkata",
        "external_url": null,
        "internal_url": null
    }
}