
# Configure a default setup of Home Assistant (frontend, api, etc)
default_config:

# Text to speech
tts:
  - platform: google_translate

group: !include groups.yaml
automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml
light: !include lights.yaml
homekit: !include homekit.yaml

discovery:
  ignore:
    - yeelight
yeelight:
  devices:
    192.168.68.117:
      name: Living Room Hanging Lamp

sensor:
  - platform: mitemp_bt
    encryptors:
      'A4:C1:38:5C:DC:C7': '14900CFF67B9D41E7AC158C09078B877'

logger:
  default: warn
  logs:
    custom_components.mitemp_bt: info
